.container {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    background: transparent linear-gradient(262deg, #1A2C2C99 0%, #1A2C2C99 40%) 0% 0% no-repeat padding-box;
    box-shadow: inset 8px 4px 4px #00000040;
    mix-blend-mode: normal;
    border: 1px solid #0F2323;
    opacity: 1;
    border-radius: 20px;
}

.link {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background: #38383880 0% 0% no-repeat padding-box;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    opacity: 1;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
}

.link .icon {
    color: #36A546CC;
    
}